<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">{{ 'our_products'|trans }}</li>
        {{ render(controller ('EcommerceBundle:Categories:allCategories')) }}
    </ul>
</div>
