{% trans_default_domain 'FOSUserBundle' %}

<div class="row">

    <div class="col-md-3">
        {% include 'UsersBundle:Default:modulesUsed/userPanel.html.twig' %}
        {% include '::modulesUsed/panier.html.twig' %}
    </div>

    <div class="col-md-9">
        <h2>Mes informations</h2>
        <hr>
        <div class="col-md-4">
            <p><strong>{{ 'profile.show.username'|trans }} :</strong> {{ user.username }}</p>
            <p><strong>{{ 'profile.show.email'|trans }}:</strong> {{ user.email }}</p>
        </div>
    </div>
</div>