{% extends '::layout/layout.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">

        <div class="span12">
            <h1 style="color: #0e90d2">{{ page.titre }}</h1>
            {{ page.contenu|raw }}
        </div>
    </div>
</div>
{% endblock %}
