{% extends '::layout/layout.html.twig' %}

{% block title %}E-Shop! - {{ page.titre }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="color: #0e90d2">{{ page.titre }}</h1>
            {{ page.contenu|raw }}
        </div>
    </div>
</div>
{% endblock %}