<li><a href="{{ path('produits') }}">{{ 'all_products'|trans }}</a></li>
{% for categorie in categories %}
<li><a href="{{ path('produitsCategorie',{ 'categorie' : categorie.id }) }}">{{ categorie.nom }}</a></li>
{% endfor %}