<li><a href="{{ path('produits') }}">Tous nos produits</a></li>
{% for categorie in categories %}
<li><a href="{{ path('produitsCategorie',{ 'categorie' : categorie.id }) }}">{{ categorie.nom }}</a></li>
{% endfor %}