<li><a href="{{ path('produits') }}">Tous les produits</a></li>
{% for categorie in categories %}
<li><a href="{{ path('produitsCategorie',{ 'id' : categorie.id }) }}">{{ categorie.nom }}</a></li>
{% endfor %}