<!DOCTYPE html>
<html lang="en">
<head>

    <title>E-Shop! Backend</title>

    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}" />

    <style>

        .footer-inverse{
            background-color: #222222;
        }

        .footer-inverse p{
            color: ghostwhite;
        }

        html {
            position: relative;
            min-height: 100%;
        }
        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
            padding-top:65px
        }
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 64px;
            padding-top: 1.5em;
        }

        body h2{
            color: #880000;
        }

        body h4{
            color: darkcyan;
        }

    </style>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" style="color: #C82829;font-family: 'Roboto Slab';font-size: x-large"
               href="{{ path('users_admin') }}">Administration</a>
        </div>

    </div>
    </nav>

        <div class="container">
            <div class="row">

                {% include('modulesUsed/navigationAdmin.html.twig') %}
                <div class="col-md-9">

                    {% block body %}{% endblock %}

                </div>
            </div>
        </div>
        <br>

    <hr />

    <footer id="footer" class="footer footer-inverse">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>&copy; Copyright {{ 'now'|date('Y') }} - EL Sam</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.5.11/full/ckeditor.js"></script>
</body>
</html>
