<form method="post" action="{{ path('search') }}" class="form-inline">
    <div class="form-group">
        {{ form_widget(form.search) }}
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> {{ 'search'|trans }}
        </button>
        {{ form_widget(form) }}
    </div>
</form>