{% extends '::layout/layout.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">

    <div class="span3">
        {% include 'UsersBundle:Default:modulesUsed/userPanel.html.twig' %}
        {% include '::modulesUsed/panier.html.twig' %}
    </div>

    <div class="span9">
        <h2>Livraison</h2>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="span4">
                    <form action="validation.php">
                        <h4 class="radio">Adresses de livraisons</h4>
                        <label class="radio">
                            3b rue jules paulo, 75 000 Paris
                            <a href="#"><i class="icon-trash"></i></a>
                            <a href="#"><i class="icon-refresh"></i></a>
                        </label>
                        <label class="radio">
                            3b rue jules paulo, 75 000 Paris
                            <a href="#"><i class="icon-trash"></i></a>
                            <a href="#"><i class="icon-refresh"></i></a>
                        </label>
                        <label class="radio">
                            3b rue jules paulo, 75 000 Paris
                            <a href="#"><i class="icon-trash"></i></a>
                            <a href="#"><i class="icon-refresh"></i></a>
                        </label>
                    </form>
                </div>

                <div class="span4">
                    <h4>Ajouter une nouvelle adresse</h4>
                    <form>
                        <label for="nom">Nom</label>
                        <input type="text" id="nom" name="nom">

                        <label for="prenom">Prénom</label>
                        <input type="text" id="prenom" name="prenom">

                        <label for="adresse">Adresse</label>
                        <input type="text" id="adresse" name="adresse">

                        <label for="ville">Ville</label>
                        <input type="text" id="ville" name="ville">

                        <label for="zip">Code postal</label>
                        <input type="text" id="zip" name="zip">

                        <label id="pays">Pays</label>
                        <input type="text" id="pays" name="pays">

                        <label id="tel">Téléphone</label>
                        <input type="tel" id="tel" name="tel">

                        <br />
                        <button class="btn btn-primary">Ajouter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}