<h1 style="color: #880000;text-align: center">E-Shop!</h1>
<br>
<strong>Bonjour {{ user.username }},</strong>
<br>
<br>
Votre commande a été validée avec succès.
<br>
Pour voir vos factures, veuillez <a href="http://{{ host }}{{ path('fos_user_security_login') }}" target="_blank">vous connecter</a>
<br><br><br>
Merci
<br>
E-Shop! Team.